<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Update User</title>
	<link rel="stylesheet" href="/css/updateUser.css">
</head>

<body>
	<div class="topnav">
		<a href="/">Home</a>
		<a href="/create-user">Create User</a>
		<a href="#contact">Contact</a>
		<a href="#about">About</a>
	</div>
	<div class="container">
		<form action="/update-user-form" method="post">

			<h2>Update user</h2>

			<input class="d-none" type="text" id="id" name="id" value="<%= userUpdate.id %>">

			<label for="lname">Email</label>
			<input type="text" id="email" name="email" value="<%= userUpdate.email %>">

			<label for="lname">Name</label>
			<input type="text" id="name" name="name" value="<%= userUpdate.name %>">

			<label for="lname">City</label>
			<input type="text" id="city" name="city" value="<%= userUpdate.city %>">

			<input type="submit" value="Save">

		</form>
	</div>
</body>

</html>